html {
    font-size: 62.5%;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-family: $fontFamily;//$font-body;'Hepta Slab', sans-serif; 
    color: $text-color; 
    background-color:  $background; 
  }
  
  //create list of values for looping through lists with @for
  $heading-colors: $blue, $purple, $green, $red, $red, $orange, $yellow;

  h1, h2, h3, h4, h5, h6 {
      font-family: $font-headings; //'Oswald', sans-serif;
  }
@for $item from 1 through length($heading-colors) {  //looping through the list. # represents the item
  h#{$item} {
    color: nth($heading-colors, $item);
  }
}
  .container {
    width: 80%;
    margin: 0 auto;
  }


  $roundness: 40px 0px 40px 0px; //list

  //from _mixins.scss- math operation(for imgs),media query- break
  .grid {
    margin-bottom: 10px;
    @include clearfix;
    .item {
        float: left;
        @include imageGrid(2, 2%);
    }
    img {
        display: block;
        border-radius: $roundness;//nth($roundness, 1);//show - for 1 type //$roundness//10px 0px 10px 0px;
        max-width: 100%;
        height: auto;
    }
    @include break(550px) {
      .item {
        @include imageGrid(3, 2%);
    }
    @include break(860px) {
      .item {
        @include imageGrid(4, 2%);
    }
    }
    @include break(1000px) {
      .item {
        @include imageGrid(5, 2%);
    }
    }
  }
}



//for buttons: 
$color-btn-text: $darkblue;

%btn {     //with % create a Shadow class
    display: inline-block;
    padding: 6px 12px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-family: $font-headings;
    user-select: none;
    color: $background; //$text-color;
}
//creating maps in Sass(arrays)
$color-btns:( 
    default: $text-color,
    hot: $red,
    cool: $blue,
    purple: $purple
    ) ;

@each $name, $value in $color-btns {
    .btn-#{$name} {
        @extend %btn;
        background-color: $value;
    }
}
