
header, footer  {
    background-color: darken($blue, 15%);
}

footer .container {
    margin: 0; //make fnav center
}

nav {
    header & {
        background-color: darken($blue, 15%);
    }

    .branding {
        float: left;
        display: none; // media query/_mixins
        @include break(900px) {
            display: block;
        }
    }

    .breanding h1 {
        font-size: 2.75rem;
        overflow: hidden;
        margin: 0;
        color: $yellow;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        @include clearfix;
    }

     // media query/_mixins - break
    ul li {
        @include break(760px) {
            float: right;
        }
        padding: 10px 5px;
    }

    ul li a {
        font-size: 2rem;
        text-decoration: none;
        padding: 10px 5px;
        color: $background;
        font-family: $fontFamily;
        font-weight: 500;

        &:hover {
            color: $yellow;
        }
        header &:hover {
            background-color: darken($blue, 20%);
        }

        footer & {
            color: white;
        }
    }

    footer & {
        @include break(0, 500px) {
            display: none;
        }
        margin-top: 20px;
        min-height: 10px;
        background-color: darken($blue, 15%);
    }
}



