//nesting
// working with colors
$color-even-cells: transparentize($green, .8);

.table {
    border-collapse: collapse;
    font-size: 1.4rem;
    text-align: left;
    width: 100%;

    > thead, > tbody, > tfoot {
        > tr {
            &:hover {
                background-color: transparentize($yellow, .8);//darken(adjust-hue($background, -20deg), 10%);
            }
            &:nth-child(even) {
                background-color: $color-even-cells;
                &:hover {
                    background-color: opacify($color-even-cells, .1);//opacify($color-even-cells, .3);  transparentize($yellow, .9);
                }
            }
            > th, > td {
                padding: 10px;
                border-bottom: 1px dotted $green;
            }  
        }
    }    
> thead, > tr {
    background-color: transparentize($red, .4); //$blue;
    color: $background;
    &:hover {
        background-color: transparentize($blue, .8); //complement($blue);
    }
    > th {
        border-bottom: 0;
    }
}
}

